<html>
    <body>
            {% block css %}
            <style>
                body{
                  background-image: url('/static/image/img4.jpg');
                  background-size: cover;
                  background-repeat: no-repeat;
                }
            </style>
            {% endblock %}

        <h1>ABOUT US</h1>
        <p>Product Discount Finder</p>
        <p>In this project we can descibe any type of Product will be Find as an Discount Offer and Buys on any Websites.</p>
        <p> We can describe in following steps-</p>
        <p>* We can find a Product.</p>
        <p>* Now we will go to find a product so first of all they register/login a account to find which type of products.</p>
        <p>* Here there are three websites in to using in this applications these name are - Flipcart.com, Snapdeal.com, Amazon.com. </p> 
        <p>* When in this applications have an three websites to contribute a discount offer for buying and saling to the customers. </p>
        <p>* All formalities were complete and when the customer mobile phones sends a verification codes send by this applications.</p>
        <p>* Then they will using a coding of Data Mining using Python. </p> 
        <p>* Then the next step is when a product could be seen so they were in discount then they show on the history.</p>
        <p>* Then the customer will logout the application. So the history of  application/product save in database . </p> 
        <p>* Then the customer were buying the product so the application will log out then the customer seen the old products to seen in this applications from the history were seen to all this products. </p>
        <h2>THANK YOU FOR USING THIS APPLICATION TO BUYING AND SALING THE PRODUCTS</h2>



     </body>
</html>