<html>
    <body>
            {% block css %}
            <style>
                body{
                  background-image: url('/static/image/img4.jpg');
                  background-size: cover;
                  background-repeat: no-repeat;
                }
            </style>
            {% endblock %}

            <h1>ABOUT US</h1>
            <p>Shop Crawler</p>
            <p>Introduction- web miner and product comparision sysytem is an instantly comparing one or more than three websites (saving your time, while you don't have to search, nor wait for a user support.)</p>
            <p>We will connect to flipkart, amazon, and other websites, when we search any product to multiple websites tehn it will fetch the data using web crawler and web scrapping from those websites then it will provide us the reliable answer. </p>
            <p>Necessity- In this area we want everything in no time that means we want everything right on the moment we think about that thing or product and since speed comes with its cost so it may leads to wrong details or information about or product.</p>
            <p>Scope of Time Saving- We create to save time over searching about various products and its features.</p>
            <p>Compare product features- Our project will mainly designed to compare the features of the product on the basis of user preference</p>
            <p>Decesion making- To take effective decision within short period of Time.</p>
            <p>Interactive user Interaction- To generate the interactive results of the comparision done of the products.</p>
            <p>Scope of Product Analyzer- Our project can be used as a tool for analyzer the product features at various outlets over the internet.</p>
            <p>Scope of Market Surveyor- It can be used as a tool for surveying the market for various products.</p>
            <p>Scope of Metasearch Engine- Since our project will search various websites and their Databases so it can be used as a metasearch which generates it own data.</p>
            <p>Scope of Search Filters- Can be used as a search filtering tool.</p>
            <p>We have conclude that this web application could be used for reducing the respective time for searching and comparing from different sites. It also reduces the man power by this application we can find different things and compare them easily.</p>


     </body>
</html>