{% extends 'layout.html' %}

import numpy as np
from skimage import data
import matplotlib.pyplot as plt 
%matplotlib inline
image = data.camera()
type(img5.jpg)

mask = img5.jpg
image[mask]=255
plt.imshow(img5.jpg, cmap='original')



{% block css %}
<style>
    body{
      background-image: url('/static/image/img5.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
</style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row  justify-items-center">
          <div class="col-sm-8 mt-5">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Search By Category</h3>
                <form method="post">
                        <div class="form-group">
                          <input type="blank_bar" class="form-control" name="blank_bar" id="blank_bar" aria-describedby="i class="far fa-search-location placeholder="          "></i>
                          <button class="btn Search" btn-lg btn-block>Search</button>
                        </div> 
                              
                        div import numpy as np
                        from skimage import data
                        import matplotlib.pyplot as plt 
                        %matplotlib inline
                        image = data.camera()
                        type(img5.jpg)
                        
                        mask = img5.jpg
                        image[mask]=255
                        plt.imshow(img5.jpg, cmap='original')
                      </div>
                                    
                    
                    
                    
                    
                    
                    <button class="btn btn-primary" btn-lg btn-block">Submit</button>
                          
                      </form>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
          </div>
      {% endblock %}